.matching * {
    box-sizing: border-box;
}

.matching .question-header {
    text-align: center;
}

.matching body {
    max-width: 800px;
    margin: 0 auto;
}

.matching .question-body {
    margin: 0 0 1.5rem;
}

.matching table {
    width: 80%;
    margin-left: 200px;
}

.matching tr {
    display: flex;
}

.matching td {
    border: 1px solid #000;
    flex: 1 1 150px;
    height: 110px;
}

.matching td:first-child {
    display: flex;
    justify-content: center;
    flex: 0 0 150px;
}

.matching td:last-child {
    margin-left: 50px;
    height: 110px;
}

.matching td div {
    padding: 2px;
}

.matching th {
    border: 1px solid #000;
    display: flex;
    flex: 1 1 150px;
    justify-content: center;
    padding: 10px;
}

.matching th:first-child {
    flex: 0 0 154px;
}

.matching th:last-child {
    margin-left: 52px;
}

.matching .question-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem;
}

.matching button {
    display: flex;
    font-size: 1rem;
    height: 60px;
    padding: 15px 25px;
    margin-top: 10px;
    margin-right: 180px;
}

.matching .reset-btn {
    display: none;
}


/* Override draggable defaults... */

.matching .ui-draggable:hover {
    background: #c1e1cd;
    cursor: pointer;
    height: 106px;
}

.matching .ui-draggable:active {
    background: #C1E1CD;
    cursor: pointer;
}

.matching .header .keywords,
.matching .header .answers,
.matching .header .options {
    background-color: #4897d8;
}

.matching .body .answer {
    background-color: #FFDB5C;
}

.matching .body .option {
    background-color: #FA6E59;
}

.matching .card {
    padding-top: 20px;
    font-size: 20px;
}

.matching .score-card {
    margin-left: 800px;
}