html, body {
  height: 100%;
}

body {
  background-color: rgb(49, 149, 167);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.progress {
  max-width: 500px;
  width: 100%;
  margin-left: 18%;
  justify-self: center;

}

.progress-text {
  opacity: 0;
  transition: opacity 0.3s;
}

.progress-text.is-active {
  opacity: 1;
}

.progress-bar {
  background-color: #fff;
  border-radius: 10px;
  height: 20px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.progress [data-progress] {
  background-color: #91b454;
  border-radius: 10px;
  height: 100%;
  width: 0;
  line-height: 30px;
  position: absolute;
}

.buttons {
  margin-left: 45%;
}

.buttons>.btn {
  background-color: #91b454;
  border-radius: 100%;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.buttons>.btn:hover, .buttons>.btn:focus {
  opacity: 0.9;
}

.buttons>.btn:focus {
  outline: none;
}

.buttons>.btn[disabled] {
  opacity: 0.5;
}



.disable {
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* css display game */
.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.display_content {
  width: 1150px;
  display: flex;
  align-items: center;

}

.display_question {
  font-size: 20px;
}

.display_image p {
  text-align: center;
  padding: 0px 30px 0px 10px;
}

.display_image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.display_section-title {
  font-size: 3em;
  margin-bottom: 80px;
  text-align: center;
}

.display_info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.display_info {
  width: 700px;
  margin-top: 10px;
  margin-left: 50px;
}


#display_input_answer {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  border-bottom: 2px solid #9b9b9b;
  text-align: center;
}

#display_submit_answer {
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  padding: 15px 35px;
  margin: 10px;
}

#display_result {
  padding-bottom: 100px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 300px;
  text-align: center;
}

/*end game display*/

#close {
  padding: 3px 8px;
  color: #9c0e09;
  font-size: 30px;
  border-radius: 100%;
  background: rgba(100, 18, 18, 0.96);
  margin: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.prev {
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}

.next {
  background-color: #04AA6D;
  color: white;
  border-radius: 50%;
}

.none {
  display: none;
}

.score {
  font-size: 35px;
  font-weight: 800px;
}

.popup_result {
  font-size: 20px;
  padding-top: 30px;

}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  height: 250px;
  box-shadow: 0 25px 50px rgba(252, 56, 56, 0.2),
    0 0 0 1000px rgba(255, 255, 255, 0.96);
  padding: 40px;
  visibility: hidden;
}

.popup.active {
  visibility: visible;
}

.popup_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background: rgb(104, 2, 2);
  color: white;
  cursor: pointer;
  border-radius: 10%;
}

#my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
  visibility: hidden;
  pointer-events: none;
}

#my-canvas.active {
  visibility: visible;
}

.popup_hint {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 400px;
  height: auto;
  box-shadow: 0 25px 50px rgba(252, 56, 56, 0.2),
    0 0 0 1000px rgba(255, 255, 255, 0.96);
  padding: 40px;
  visibility: hidden;
}

.popup_hint.active {
  visibility: visible;
}

.close_hint {

  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background: rgb(87, 6, 6);
  color: white;
  cursor: pointer;
  border-radius: 10%;

}


.popup_hint_data {
  color: rgb(95, 15, 15);
  font-size: 20px;
  padding: 0px 15px;
}

.btn_hint {
  padding: 5px 13px;
  left: 0;
  top: 0;
  color: #e5a40f;
  font-size: 28px;
  border-radius: 100%;
  background: rgb(255 255 255 / 96%);
}

.abc {
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
}

.meo {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.container_box {
  margin-top: 25vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .display_section-title {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .progress {
    max-width: 220px;
    margin-bottom: -10px
  }


  .display_content {
    flex-direction: column;
    width: 100%;
  }

  .display_image {
    align-items: center;
  }

  .display_image iframe {
    width: 100%;
    height: auto;
  }

  .display_info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .display_question {
    padding: 10px;
    font-size: 15px;
  }

  #display_submit_answer {
    padding: 5px;
    font-weight: 400px;
  }

  .display_image img {
    width: 100%;
    height: auto;
  }

  .display_submit_answer {
    margin-top: 5px;
  }

  .progress-bar {
    height: 10px;
  }

  .progress-text {
    font-size: 16px;
  }

  .buttons {
    margin-top: 0px;
  }

  .hint_close {
    font-size: 15px;
  }

  .score {
    font-size: 16px;
    font-weight: 900px;
  }

  .popup_hint {
    width: 300px;
    height: auto;
  }

  .popup_hint_data {
    font-size: 15px;
  }

}